/* Write your CSS here */

.app-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 60px;
}

.greet {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 35px;
}

.subscribe-btn {
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Bree Serif';
  border-width: 0;
  border-radius: 8px;
  padding: 15px;
}
